{% load static %}
<div class="border border-warning h-100">
  <div class="text-center">
    <img
      src="{% static 'core/images/pic1.jpg' %}"
      alt="profilepic"
      class="img-fluid rounded-circle mt-5"
      width="100px"
      height="100px"
    />
    <h2 class="text-white mt-3 st-font">M Asim</h2>
  </div>
  <hr class="border-light" />
  <nav class="nav flex-column text-center">
    <a href="/" class="nav-link text-warning">Home</a>
    <a href="/serv/services/" class="nav-link text-warning">Services</a>
    <a href="/edu/skill/" class="nav-link text-warning">Skills</a>
    <a href="/contact" class="nav-link text-warning">Contact</a>
  </nav>
</div>
