{% extends "core/base.html" %} {% block content %}
<div class="conatiner mt-5">
  <h1 class="text-warning mb-5 border-bottom mt-5">SERVICES</h1>

  {% comment %} first row {% endcomment %}
  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <i class="fa-sharp fa-light fa-magnifying-glass-dollar fa-2x mb-3 text-warning"></i>
      <h3>SEO</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        dolorum!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-palette fa-2x mb-3 text-warning"></i>
      <h3>WEB DESIGN</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        dolorum!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2x mb-3 text-warning"></i>
      <h3>WEB DEVELOPMENT</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        dolorum!
      </p>
    </div>
  </div>
  {% comment %} first row end {% endcomment %}

  {% comment %} second row {% endcomment %}
  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <i class="fa-brands fa-android fa-2x mb-3 text-warning"></i>
      <h3>ANDROID</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        dolorum!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-brands fa-apple"></i>
      <h3>IOS</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        dolorum!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-brands fa-adversal fa-2x mb-3 text-warning"></i>
      <h3>ADVERTISING</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        dolorum!
      </p>
    </div>
  </div>
  {% comment %} second row end {% endcomment %}

  {% comment %} third row {% endcomment %}
  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <i class="fa-solid fa-pencil fa-2x mb-3 text-warning"></i>
      <h3>LOGO DESIGN</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        dolorum!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-database fa-2x mb-3 text-warning"></i>
      <h3>HOSTING</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        dolorum!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-headset fa-2x mb-3 text-warning"></i>
      <h3>SUPPORT</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        dolorum!
      </p>
    </div>
  </div>
  {% comment %} third row end {% endcomment %}

</div>
{% endblock content %}
